.avatar{
  width: 13vw;
  height: 13vw;
  border-radius: 50%;
  display:block;
  margin-left: 50vw;
  border: 3px solid #fff;
}
.avatar-container{
  width: 100%;
  background-image: url(images/avatar.jpg);
  -webkit-background-size: 100% auto;;
  background-size: 100% auto;
}
.search{
  margin-left: 80%;
  margin-top: -3vh;
  border:none;
  background-color: #fff;
}
.about-cont{
  display: flex;
  justify-content: center;
}
.about-cont-txt{
  padding: 2vw;
}
.about-cont-txt h2{
  background-color: #62d0dc;
  line-height: 8vh;
  text-indent: 10px;
  border-radius: 6px;
  margin-bottom: 10vh;
}
.about-cont-txt h3{
  color: #115079;
}
.about-cont-txt .btn1{
  margin-left: 35%;
}
.about-cont-txt .btn2{
  margin-left: 72%;
}
.about-cont-txt .btn3{
  margin-left: 22%;
}
.about-cont-txt .btn4{
  margin-left: 25%;
}
.about-cont-txt .btn5{
  margin-left: 83%;
}
.about-cont-txt .btn6{
  margin-left: 25%;
}
.about-cont-txt .btn7{
  margin-left: 25%;
}
.about-cont-txt .btn8{
  margin-left: 45%;
}
.about-cont-txt .btn9{
  margin-left: 25%;
}
.person,.cards{
  background-color: #81e6f1;
  padding: 10px;
  border-radius: 10px;
}
.person span{
  color: #0c3f8e;
}
.cards{
  min-width: 168px;
  padding-top: 25px;
  padding-bottom: 25px;
}
@media (max-width: 680px){
  .avatar{
    width: 22vw;
    height: 22vw;
  }
  .cards{
    padding-top: 4px;
    padding-bottom: 4px;
  }
}
